/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Variables */
:root {
  --primary-color: #333333;
  --hero-color: #111111;
  --accent-color: #7e6041;
  --background-color: #f6e8d8;

  --primary-font: 'Merriweather', serif;
  --hero-font: 'Playfair Display', serif;

  --text-element-margin: 2.5rem;
  --text-element-spacing: 2.5rem;

  --section-padding: 10rem;
  --container-gap: 6rem;
  --container-grid-template-columns: repeat(12, 1fr);

  @media (max-width: 1000px) {
    --section-padding: 6rem;
    --container-gap: 4rem;
  }
  @media (max-width: 800px) {
    --text-element-spacing: 1rem;

    --section-padding: 3rem;
    --container-gap: 0;
    --container-grid-template-columns: 1fr;
  }
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */
html {
  font-size: 62.5%; /* 10px base for rem calculations */
  scroll-behavior: smooth;
}

body {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* Text */
h1, h2, h3, h4, h5, h6, nav, address {
  color: var(--hero-color);
  font-family: var(--hero-font);
  font-weight: 600;
  font-style: normal;
}

h1      { font-size: 5.0rem; @media (max-width: 800px) { font-size: 3.8rem; } }
h2      { font-size: 4.4rem; @media (max-width: 800px) { font-size: 3.4rem; } }
h3      { font-size: 3.8rem; @media (max-width: 800px) { font-size: 3.0rem; } }
h4      { font-size: 3.2rem; @media (max-width: 800px) { font-size: 2.6rem; } }
h5      { font-size: 2.6rem; @media (max-width: 800px) { font-size: 2.2rem; } }
h6      { font-size: 2.0rem; @media (max-width: 800px) { font-size: 1.8rem; } }
nav     { font-size: 1.8rem; @media (max-width: 800px) { font-size: 1.6rem; } }
address { font-size: 1.8rem; @media (max-width: 800px) { font-size: 1.6rem; } }

h1, h2, h3, h4, h5, h6, address, p {
  margin-bottom: var(--text-element-margin);
}

a {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  transition: color .3s ease-in-out;
  &:hover {
    color: var(--accent-color);
  }
}

ul {
  list-style-type: none;
}

/* Layout */
section:not(section section) {
  align-content: center;
  padding: var(--section-padding);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: var(--container-gap);
  grid-template-columns: var(--container-grid-template-columns);
}

.column-1 { grid-column: span 1; }
.column-2 { grid-column: span 2; }
.column-3 { grid-column: span 3; }
.column-4 { grid-column: span 4; }
.column-5 { grid-column: span 5; }
.column-6 { grid-column: span 6; }
.column-7 { grid-column: span 7; }
.column-8 { grid-column: span 8; }
.column-9 { grid-column: span 9; }
.column-10 { grid-column: span 10; }
.column-11 { grid-column: span 11; }
.column-12 { grid-column: span 12; }

nav {
  position: fixed;
  width: 100%;
  padding: var(--text-element-margin) var(--section-padding);
  transition: background .3s ease-in-out;
  white-space: nowrap;
  z-index: 1000;
  ul {
    li {
      display: inline;
      &:not(:last-child) {
        margin-right: var(--text-element-spacing);
      }
    }
    &.secondary {
      font-size: 1.4rem;
      text-align: right;
      @media (max-width: 800px) {
        font-size: 1.2rem;
        text-align: center;
        margin-top: var(--text-element-spacing);
      }
    }
  }
  .container {
    align-items: center;
  }
  &.scrolled {
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(3px);
  } 
  @media (max-width: 800px) {
    text-align: center;
    padding: 1.5rem var(--text-element-spacing);
    &.scrolled {
      background-color: rgba(255, 255, 255, 1);
      backdrop-filter: none;
    } 
  }
}

/* Miscellaneous */
img {
  display: block;
  max-width: 100%;
}

[data-background] {
  background: center/cover no-repeat var(--background-color);
  background-blend-mode: overlay;
}