@import url('base.css');

#hero {
  &[data-background] {
    background-color: rgba(250, 247, 242, 1);
  }
}

#about {
  img {
    border-radius: 50%;
  }
}

#work {
  background-color: #faf7f2;
}

#contact {
  text-align: center;
  &[data-background] {
    background-color: rgba(250, 247, 242, 1);
  }
  ul li {
    @media (min-width: 801px) {
      display: inline;
      &:not(:last-child)::after {
        content: ' • ';
      }
    }
  }
}

#hero, #about, #work, #contact {
  min-height: 50vh;
}

@media (max-width: 800px) {
  #hero, #contact {
    min-height: 100vh;
  }
}