@import url('base.css');

.hero {
  padding-top: 32rem;
  padding-bottom: 32rem;
}

.about {
  background-color: #fbf2f2;
  
  img {
    border-radius: 50%;
  }
}

.work {
  background-color: #fafafa;
}

.contact {
  padding-top: 24rem;
  padding-bottom: 24rem;

  background-color: #e9fffa;
  text-align: center;
}

@media (max-width: 800px) {
  .hero, .contact {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}